</div>
</div>
</div>
</body>
<footer class=" py-3 col-sm-12" style="width: 100vw;">
  <div class="container "style="width: 100vw;">
    <div class="row">
      <div class="col-md-3">
        <h5 class="h5_footer">Ayuda</h5>
        <ul class="ul_footer"class="list-unstyled">
          <li><a href="#">Preguntas Frecuentes</a></li>
          <li><a href="#">Politica de Devoluciones</a></li>
          <li><a href="#">Envios y Entregas</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="h5_footer">Contacto</h5>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Ingresa tu correo">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="Escribenos tu mensaje"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
      <div class="col-md-3">
        <h5 class="h5_footer">Sigueme en</h5>
        <ul class="ul_footer" class="list-unstyled">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="h5_footer">Ubicación</h5>
        <address>
          Calle 123, Ciudad, País <br>
          Telefono: +(123) 456-7890
        </address>
      </div>
    </div>
   
  </div>
</footer>

</html>