<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="static_images/icono.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <script src="https://kit.fontawesome.com/13e89618ce.js" crossorigin="anonymous"></script>


</head>

<body>
  <nav id="nav-header"class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
      <span id="Boh" ><span id="Byte">Byte</span>Boh</span>
    </a>
  </nav>