
<%- include('./partials/header.ejs') %>


<div class="container">
	<h2 class="text-center my-4">Shopping Cart</h2>
	<form>
		<div id="cart-container" class="row">

		</div>
		<div class="text-center mt-4">
			<button type="submit" class="btn btn-primary">Comprar</button>
		</div>
	</form>
</div>

<%- include('./partials/footer.ejs') %>