<%- include('./partials/index_header.ejs') %>

<div class="container my-5">
  <h1 class="text-center">Electronic Components Store</h1>
  <p class="text-center" style="width: 75%;margin:auto">
    Bienvenido a ByteBoh, es un proyecto de e-commerce inspirado en otras webs como 
    <a href="https://compragamer.com/" target="_blank">compra gamer</a> y 
    <a href="https://www.computodo.com.ar/" target="_blank">compu todo</a>. Mi intención con este proyecto es
     mostrar mis capacidades como programador.
  </p>
  <br>
  <% if (error) { %>
  <p class="text-center text-danger">Error obteniendo contenido dinámico </p>
  <% } else { %>
  <p class="text-center">Tenemos el siguiente catálogo de productos:</p>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100 card_index">
        <div class="card-body">
          <a  href="/computers">
          <img style="padding:10px;"
          src="/static_images/index_computer-icon.png"
          class="card-img-top"
          alt="computer icon"
        />
          <h5 class="card-title h5_index">Compus</h5>

          
        </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100 card_index">
        <div class="card-body">
          <a  href="components/brands">
          <img style="padding:10px;"
          src="/static_images/index_brand-icon.png"
          class="card-img-top"
          alt="brand icon"
        />
          <h5 class="card-title h5_index">Marcas</h5>

        </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100 card_index">
        <div class="card-body">
          <a  href="/components/gpus">
          <img style="padding:10px;"
          src="/static_images/index_gpu-icon.png"
          class="card-img-top"
          alt="gpu icon"
        />
          <h5 class="card-title h5_index">GPUs</h5>

          
        </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100 card_index">
        <div class="card-body">
          <a  href="/components/cpus">
          <img style="padding:10px;"
          src="/static_images/index_cpu-icon.png"
          class="card-img-top"
          alt="cpu icon"
        />
          <h5 class="card-title h5_index">CPUs</h5>

          
        </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100 card_index">
        <div class="card-body">
          <a  href="/components/motherboards">
          <img style="padding:10px;"
          src="/static_images/index_mother-icon.png"
          class="card-img-top"
          alt="mother icon"
        />
          <h5 class="card-title h5_index">Mothers</h5>

          
        </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100 card_index">
        <div class="card-body">
          <a  href="/components/rams">
          <img style="padding:10px;"
          src="/static_images/index_ram-icon.png"
          class="card-img-top"
          alt="ram icon"
        />
          <h5 class="card-title h5_index">Rams</h5>

          
        </a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100 card_index">
        <div class="card-body">
          <a  href="/components/cabinets">
          <img style="padding:10px;"
          src="/static_images/index_cabinet-icon.png"
          class="card-img-top"
          alt="cabinet icon"
        />
          <h5 class="card-title h5_index">Gabinetes</h5>

          
        </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100 card_index">
        <div class="card-body">
          <a  href="/components/powerSupllies">
          <img style="padding:10px;"
          src="/static_images/index_power-icon.png"
          class="card-img-top"
          alt="power supply icon"
        />
          <h5 class="card-title h5_index">Fuentes</h5>

          
        </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100 card_index">
        <div class="card-body">
          <a  href="/components/storages">
          <img style="padding:10px;"
          src="/static_images/index_storage-icon.png"
          class="card-img-top"
          alt="storage icon"
        />
          <h5 class="card-title h5_index">Storages</h5>

          
        </a>
        </div>
      </div>
    </div>

    <% } %> <%- include('./partials/footer.ejs') %>
  </div>
</div>
