.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}


.nav-item_computer {
  display: inline-block;
  border-right: 1px solid gray;
  height: 50px;
  line-height: 50px;
  
}

.nav-item_computer:last-child {
  border-right: none;
}

.nav-link_computer {
  max-height: 61px;
  margin: 0px 20px;
  width: 100%;
  height: 50px;
}

.selected-product {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transform: translateY(-5px);
}

.product:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transform: translateY(-5px);
}

.brand-img img {
  max-height: 50px;
  width: auto;
  object-fit: contain;
  padding:13px 20px;
}

.brand-img{
  margin:10px 17px;
}

.brand-img:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transform: translateY(-5px);
}

.selected-brand {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transform: translateY(-5px);
}


.input-group {
  width: 132px;
  margin: 0 auto;
  border: 1px solid #ced4da;
  display: flex; align-items: center; justify-content: center;
  padding:0;
  
  ;
}

.quantity-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 18px; border: none;

}

.minus-btn,
.plus-btn {

  padding: 14px 14px;
  font-size: 1.7em;
  border: none;
  background-color: transparent;
}
.minus-btn{
  font-size:1.8em;
}

.minus-btn:hover,
.plus-btn:hover {
  background-color: #f1f1f1;
}



#cart-button {
  border: none;
  
  font-size: 30px;
  background-color: white;
  color: #a8a9ab;
  padding: 10px 20px;
  transition: all .3s;
  right: 85px;
}

#cart-button:hover {
  cursor: pointer;
  color: #414141;
}

#cart-button:focus {
  outline: none;
}


.producto-en-carrito{
  border : 1px solid #dfdfdf;
  margin : 10px 20px 10px 0px;
  border-radius: 5px;
  align-items: center;
  padding:0;
}

