
/* 
Style refereido al header 
*/


:root {
  --color-secondary: #ffffff;
  --color-primary: #ff9900;
  --color-background-header: #131921;
  --color-body-background: #eeeeee;
}

#Boh {
  font-size: 1.3em;
  color:var(--color-secondary)
}

footer{
  background-color: var(--color-background-header);
  color: var(--color-secondary)
}

.ul_footer li a{
  color: var(--color-secondary)
}
.ul_footer {
  list-style: none;
}

.h5_footer{
  color:var(--color-primary)
}

footer li {
  color: var(--color-secondary)
}
#Byte {
  color:var(--color-primary)
}


#nav-header{
  padding-top: 0.5rem;padding-bottom: 0.5rem;
  background-color: var(--color-background-header);
  
}

#nav-header #navbarNav ul li a{
  color:var(--color-secondary)
}

#nav-header #navbarNav ul li a:hover{
  color:var(--color-primary)
}

body{
  background-color: var(--color-body-background)
}

h5{
  height: 10vh;
}

#btn-cart-add{
  padding: 0.35rem 1.5rem;
  border-radius: 5px;
  float:right;
}


.card-img-top_computer{
  object-fit:cover;
}
.card-img-top_computer{
  height: 52vh;
}
#container_list-products{
  margin-top:15px;
  padding:0;
}

ul.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  display: block;
  padding: 0.27rem 1rem;
}

.mb-3, .my-3 {
  margin-bottom: 1rem ;
  padding: 0px 5px;
}




@media (min-width: 576px){
  /* Configuraciones para el nav de la izquierda */
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 17.6666666667%;
    max-width: 17.6666666667%;
    padding-right: 0;
}
}

.col-sm-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.3333333333%;
  flex: 0 0 82.3333333333%;
  max-width: 82.3333333333%;
}


#cart-button {
  border: none;
  text-decoration:none;
  font-size: 1.4em;
  background-color: transparent;
  color: var(--color-secondary);
  padding: 10px 10px;
  transition: all 0.3s;
  right: 85px;
}

#cart-button:hover {
  cursor: pointer;
  color: var(--color-primary);
  outline:none;
}

#cart-button:focus {
  outline: none;
  outline:none;
}

#cart-count {
  outline:none;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color-secondary)
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color-secondary)
}

.nav-link:hover {
  color: var(--color-primary)
}
/* FF206E */

#nav-header


.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.nav-item_computer {
  display: inline-block;
  border-right: 1px solid gray;
  height: 50px;
  line-height: 50px;
}

.nav-item_computer:last-child {
  border-right: none;
}

.nav-link_computer {
  max-height: 61px;
  margin: 0px 20px;
  width: 100%;
  height: 50px;
}

.selected-product {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.product:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.brand-img img {
  max-height: 50px;
  width: auto;
  object-fit: contain;
  padding: 13px 20px;
}

.brand-img {
  margin: 10px 17px;
}

.brand-img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.selected-brand {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.input-group {
  width: 132px;
  margin: 0 auto;
  border: 1px solid #ced4da;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.quantity-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 18px;
  border: none;
}

.minus-btn,
.plus-btn {
  padding: 14px 14px;
  font-size: 1.7em;
  border: none;
  background-color: transparent;
}
.minus-btn {
  font-size: 1.8em;
}

.minus-btn:hover,
.plus-btn:hover {
  background-color: #f1f1f1;
}



/* Estilo para el botón principal */
.dropbtn {
  background-color: #f2f2f2;
  color: black;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Estilo para el contenedor de la lista desplegable */
.dropdown {
  position: relative;
  display: inline-block;
  background-color: none;
}

.dropbtn:focus {
  outline: none;
}

.dropbtn {
  background-color: transparent;
}

/* Estilo para el contenido de la lista desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  top: 38px;
  width: 100%;
  max-width: 200px; /* Define un ancho máximo para la lista */
  overflow: auto;
  text-align: center;
}

/* Cambia el color de fondo del contenedor de la lista desplegable al pasar el ratón por encima */
.dropdown:hover .dropdown-content {
  display: block;
  background-color: transparent;
}

/* Estilo para los elementos de la lista */
.dropdown-content a {
  color: black;
  padding: 0;
  text-decoration: none;
  display: block;
  text-align: left;
  color:antiquewhite
  
}

/* Cambia el color de fondo de los elementos de la lista al pasar el ratón por encima */
.dropdown-content a:hover {
  background-color: transparent;
}

#log-out{
  color: var(--color-primary) !important ;
}

#log-out:hover{
  color: red !important;
}

.dropdown-content a:focus {
  background-color: transparent;
}

#login:focus{
  color:var(--color-primary)
}

#login:hover{
  color:var(--color-primary)
}


.t-white{
  color:var(--color-secondary)
}