

        /* SLIDER */

.slider-container {
    position: relative;
    width: 100%;
    height: 80vh;
  }
  .slider {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: 0.6s ease;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  
  /* Clase para ocultar elementos */
  .hide {
    display: none;
  }


    /* RECUADROS CON ICONOS */

  .h5_index{
    font-size:0.9em;
    text-align: center;
    line-height: 20px;
    height: 30px;
  
  }
  
  .card_index:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
  }
  
  .card_index:hover a{
    color:var(--color-primary);
    text-decoration: none;
  }

  .container-lateralnav-vendedor{
    position: absolute; top: 62.6px; left: 44px; 
    background-color: rgba(0, 0, 0, 0.65); color: white;
     padding: 20px 0 20px 20px; display: flex; flex-direction: column;
  }

.container-lateralnav{
  position: absolute; top: 62.6px; left: 44px; 
  background-color: rgba(0, 0, 0, 0.65); color: white;
   padding: 20px 0 20px 20px; display: flex; flex-direction: column;
   height: 80vh;
  }

  .col-sm-8{
    margin-left: 30vw
  }
  

  .row .col-sm-2{
    margin-top:0;
  }
  .nav-link{
    font-size:1.15em;
    font-weight: bold;
   
  }

  @media (max-width: 991px) {
    
    body{
      font-size:1.2em;
    }
    .container-lateralnav-vendedor{
      display:none;

    }

    .nav-link{
      font-size: 1.5em;
    margin-bottom: 0.8em;
    }
    .sidebar-nav{
      width: 100vw !important;
    }
    .container-lateralnav{
      display:none;

    }
    .lateralnav{
      display:none;
    }
    
    .lateralnav-active{
      position: absolute; top: 128.88px; left: 0; 
      background-color: rgba(0, 0, 0, 0.65); color: white;
        display: flex; flex-direction: column;
       width: 100vw;max-width: none; margin:0;position:absolute;z-index:10;
       height: max-content;
    }
    .sidebar-toggle {
      display:block;
      font-size:1.1rem;
      order: 1;
      margin-right: auto;
      margin-left: 15px;
      background-color: transparent;
      border:none;
    }
    .nav-link{
 
      color:var(--color-secondary);
      text-align:center;
    }
    .sidebar-nav{
      width:100vw;
      margin-right: 20px;
      
    }
    .col-sm-2{
      margin:0;
      padding:0;
    }

    hr{
      margin-left: calc(100vw - 20px)
    }

    .col-sm-8{
      margin-left: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }



