<%- include('../partials/header.ejs') %>

<div class="card">
    <h5 class="card-header"><%= title %></h5>
    <div class="card-body">
      <form action="" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" value="<%= (typeof brand === 'undefined' ? '' : brand.name) %>"
          class="form-control" id="name" name="name" placeholder="Enter brand name" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

<%- include('../partials/footer.ejs') %>
